vti_encoding:SR|utf8-nl
vti_author:SR|RICH-PC\\Rich
vti_modifiedby:SR|Rich-PC2\\Rich
vti_timelastmodified:TR|14 Mar 2010 22:27:06 -0000
vti_timecreated:TR|19 Nov 2008 15:32:12 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|14 Mar 2010 22:35:06 -0000
vti_syncwith_www.cpustick.com\:80:TR|14 Mar 2010 22:27:06 -0000
vti_syncwith_www.stickosbasic.com\:80:TR|14 Mar 2010 22:36:03 -0000
vti_cacheddtm:TX|14 Mar 2010 22:27:06 -0000
vti_filesize:IR|2063
vti_cachedlinkinfo:VX|S|btzhsepd.gif S|bball.gif S|pball.gif S|rball.gif S|blue.gif S|btznvhnd.gif S|green.gif S|btznvvnd.gif S|orange.gif S|btzhomed.gif S|btzhomed.gif S|btznextd.gif S|btznextd.gif S|btzprevd.gif S|btzprevd.gif S|btzupbtd.gif S|btzupbtd.gif S|bball.gif S|pball.gif S|rball.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/rich2/btzhsepd.gif FSUS|_themes/rich2/bball.gif FSUS|_themes/rich2/pball.gif FSUS|_themes/rich2/rball.gif FSUS|_themes/rich2/blue.gif FSUS|_themes/rich2/btznvhnd.gif FSUS|_themes/rich2/green.gif FSUS|_themes/rich2/btznvvnd.gif FSUS|_themes/rich2/orange.gif FSUS|_themes/rich2/btzhomed.gif FSUS|_themes/rich2/btzhomed.gif FSUS|_themes/rich2/btznextd.gif FSUS|_themes/rich2/btznextd.gif FSUS|_themes/rich2/btzprevd.gif FSUS|_themes/rich2/btzprevd.gif FSUS|_themes/rich2/btzupbtd.gif FSUS|_themes/rich2/btzupbtd.gif FSUS|_themes/rich2/bball.gif FSUS|_themes/rich2/pball.gif FSUS|_themes/rich2/rball.gif
vti_syncwith_localhost\\c\:\\my libraries\\my webs\\myweb_home\\cpustick/c\:/my libraries/my webs/myweb_home/cpustick:TR|14 Mar 2010 22:27:06 -0000
vti_syncwith_www.testardi.com\:80/cpustick:TR|14 Mar 2010 22:27:06 -0000
