vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|en-us
vti_textextensions:SX|.txt.
vti_missingoverlays:VX|
vti_usernames:VR|
vti_timecreated:TR|21 Mar 2008 21:08:57 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonnextlabel:SR|Next
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.hta.htc.jsp.cfm.odc.
vti_textindexood:IR|0
vti_structto_www.stickosbasic.com\:80:TR|13 May 2010 10:53:36 -0000
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_structto_www.cpustick.com\:80:TR|16 Mar 2012 14:39:57 -0000
vti_themedefault:SR|rich2 1001
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_missingoverlaylabels:VX|
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_navbuttonuplabel:SR|Up
vti_copytimestamp_ftp\://ftp-dom.earthlink.net:TR|24 Mar 2008 17:03:58 -0000
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|6.0.2.8161
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_copytimestamp_http\://www.cpustick.com:TR|23 May 2013 18:01:45 -0000
vti_copytimestamp_http\://www.stickosbasic.com:TR|21 Jun 2010 17:55:21 -0000
vti_structto_www.testardi.com\:80/cpustick:TR|16 Mar 2012 14:39:57 -0000
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|1
vti_structfrom_localhost\\c\:\\my libraries\\my webs\\myweb_home\\cpustick/c\:/my libraries/my webs/myweb_home/cpustick:TR|16 Mar 2012 14:39:57 -0000
vti_copytimestamp_http\://www.testardi.com/cpustick:TR|07 Sep 2016 05:55:35 -0000
