a:link
{
	color: rgb(51, 102, 102);
}
a:active
{
	color: rgb(102, 153, 255);
}
a:visited
{
	color: rgb(51, 51, 153);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(51, 153, 153);
	table-border-color-dark: rgb(51, 153, 153);
	border-color: rgb(51, 153, 153);
}
th
{
	border-color: rgb(51, 153, 153);
}
td
{
	border-color: rgb(51, 153, 153);
}
h1
{
	color: rgb(0, 0, 0);
}
h2
{
}
h3
{
	color: rgb(0, 0, 0);
}
h4
{
	color: rgb(0, 0, 0);
}
h5
{
	color: rgb(0, 0, 0);
}
h6
{
	color: rgb(0, 0, 0);
}
hr
{
	color: rgb(0, 0, 102);
}
button
{
}
label
{
}
.mstheme-text
{
}
textarea
{
}
fieldset
{
	color: rgb(0, 0, 0);
}
legend
{
	color: rgb(0, 0, 0);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(0, 0, 0);
}
